MONGO_USER=admin
MONGO_PASS=securepassword
MONGODB_URI=mongodb://admin:securepassword@mongodb:27017/hydrotherapy?authSource=admin
JWT_SECRET=your-256-bit-secret
JWT_EXPIRY=8h
VITE_API_BASE_URL=http://localhost:3000 (https://dasatva.advaitsolutions.com/api)
MACHINE_ID=MACHINE_001
